<div class="containerRecommendedMusics">
  <p *ngIf="loading">
    <mat-spinner></mat-spinner>
  </p>

  <div *ngIf="musics.tracks.length && !loading">
    <h3 class="playlistSavedMessage" *ngIf="playlistSave">
      Playlist salva!
    </h3>

    <div  class="containerRecommendedMusics" *ngIf="!playlistSave">
      <h3>
        Que tal salvar a playlist de {{ musics.genre }} para escutar depois ?
      </h3>

      <ul>
        <li *ngFor="let music of musics.tracks">
          {{ music.title }}
        </li>
      </ul>
      
      <button class="buttonSavePlaylist" (click)="savePlaylist()">
        Salvar playlist
      </button>
    </div>
  </div>
</div>
