<div>
  <form>
    <input type="text" placeholder="Digite o nome de uma cidade" [(ngModel)]="cityName" name="cityName" value=cityName>
    <button (click)="getWeatherData()">
      buscar
    </button>
  </form>

  
  <div>
    <p *ngIf="loading">
      carregando...
    </p>
    
    <h2 *ngIf="invalidCityName && !loading">
      Digite o nome de uma cidade valido
    </h2>

    <h2 *ngIf="currentTempData.name && !loading">
      Olá a temperatura atual em {{ currentTempData.name }} é de {{ currentTempData.main.temp }} graus
    </h2>
  </div>
</div>
